<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
      <a routerLink="/" class="navbar-brand"
        >NotePad<mat-icon style="font-size: 20px; display: inline-flex"
          >chat_bubble</mat-icon
        >
      </a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <button mat-button color="warn" (click)="onLogOut()">
            {{ isLoggedIn ? "Logout" : "Login"
            }}<mat-icon style="font-size: medium">{{
              !isLoggedIn ? "lock" : "lock_open"
            }}</mat-icon>
          </button>
        </li>
      </ul>
  </div>
</nav>
