    <form [formGroup]="createForm" (ngSubmit)="onCreateNote()" #formDirective="ngForm">
        <mat-card>
          <h4>{{mode === 'create'?'Create' : 'Edit'}} Note</h4>
          <mat-form-field appearance="standard">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title" />
            <mat-error>Please enter a Title</mat-error>
          </mat-form-field>
          <mat-form-field >
            <mat-label>Note</mat-label>
            <textarea
              matInput
              formControlName="description"
              placeholder="Ex. It makes me feel..."
              rows="4"
            ></textarea>
            <mat-error>Please enter a Note</mat-error>

          </mat-form-field>
          <div class="text-center">
            <button type="submit" mat-raised-button color="primary" [disabled]="createForm.invalid">
              {{mode === 'create'?'Create' : 'Edit'}}
            </button>
          </div>
        </mat-card>
      </form>
