@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

mat-form-field {
  width: 100%;
}
mat-card {
  border: 2px solid rgba(51, 28, 28, 0.521);
  width: 700px;
}

h4 {
  font-family: "Audiowide", cursive;
}
