<mat-accordion>
  <h4>Notes</h4>

  <mat-expansion-panel *ngFor="let note of notes">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ note.title }} </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description style="white-space: pre-wrap;">
      {{ note.description }}
    </mat-panel-description>
    <div class="text-right">
      <button mat-flat-button color="primary" style="margin-right: 5px">
        EDIT
      </button>
      <button mat-flat-button color="warn">X</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
