<div class="container">
  <div class="row">
    <div class="class=" col-xs-12 col-md-6 col-md-offset-3>
      <mat-card style="min-height: 200px;" *ngIf="!isLoading">
        <div *ngIf="isEmpty" > <h4 style="width: auto;text-align: center;">No Notes Created.</h4> </div>

        <mat-accordion *ngIf= "!isEmpty" >
          <h4>Notes</h4>
          <mat-expansion-panel *ngFor="let note of notes">
            <mat-expansion-panel-header>
              <mat-panel-title> {{ note.title }} </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description style="white-space: pre-wrap">
              {{ note.description }}
            </mat-panel-description>
            <div class="text-right">
              <a mat-flat-button color="primary" [routerLink]="['/notes/edit']" [queryParams]="{id: note.id}" style="margin-right: 5px;">
                EDIT
              </a>
              <button mat-flat-button color="warn" (click)="onDelete(note)" >X</button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    </div>
  </div>
</div>
